.Post {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 30px 28px 28px 14px 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.Title {
  grid-area: 1 / 1 / 2 / 4;
  color: rgb(24, 144, 255);
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.Likes {
  grid-area: 1 / 4 / 2 / 5;
  color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  display: flex;
}
.User {
  grid-area: 1 / 8 / 2 / 10;
  color: rgba(0, 0, 0, 0.85);
  font-size: 20px;
  line-height: 28px;
  text-align: right;
}
.Tags {
  grid-area: 2 / 1 / 3 / 8;
  line-height: 24px;
  overflow: hidden;
}
.Date {
  grid-area: 2 / 8 / 3 / 10;
  color: rgba(0, 0, 0, 0.5);
  line-height: 24px;
  text-align: right;
}
.Description {
  grid-area: 3 / 1 / 5 / 8;
  color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Photo {
  grid-area: 1 / 10 / 3 / 11;
  text-align: right;
}

.Body {
  grid-area: 5 / 1 / 6 / 11;
}

.Image {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  object-fit: cover;
}

.Like {
  font-size: 24px;
  display: inline;
  margin-right: 5px;
  line-height: 0px;
  cursor: pointer;
  border: none;
  background-color: inherit;
  height: 18px;
}

.Buttons {
  grid-area: 3 / 9 / 4 / 11;
}

.Delete {
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgb(245, 34, 45);
  border-radius: 5px;
  background-color: inherit;
  color: rgb(245, 34, 45);
  font-family: "Inter";
  margin-right: 12px;
  padding: 0 10px;
}

.Edit {
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgb(82, 196, 26);
  border-radius: 5px;
  background-color: inherit;
  color: rgb(82, 196, 26);
  font-family: "Inter";
  padding: 0 10px;
}
